// TODO Применить миксины для типографии
.link {
  @include text-body-small;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--ultramarine-default-color);
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease; // Добавляем transition для подчеркивания
  text-decoration: none; // Убираем подчеркивание по умолчанию.

  // Размеры
  &--large {
    @include text-body;
    gap: 1.2rem;
  }

  &--bold {
    @include text-body-small-bold;
    text-decoration: none;
    gap: 1.2rem;
  }

  &--with-icon {
    color: var(--text-color); /* Цвет для текста ссылки с иконкой */
  }

  // TODO Применить для стиля bold
  //&[icon="socials"] {
  //  gap: 1.2rem;
  //}

  &:hover{
    color: var(--ultramarine-default-color);
    text-decoration: underline;
    &.link--bold {
      text-decoration: none;
    }
  }



  &:active {
    color: var(--ultramarine-dark-color);
    text-decoration: underline; // Подчеркиваем при нажатии
    &.link--bold {
      text-decoration: none;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border: none;
    color: var(--ultramarine-default-color);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:active {
    .link__icon {
      border-color: var(--ultramarine-dark-color);
    }
    &--large &__icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  // Адаптив
  @include mobile {
    &--large {
      @include text-body-small;
      gap: 1rem;

      .link__icon {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
