.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.8rem;
  background: rgba(var(--text-contrast-filled-color), 0.2);
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: all 0.35s ease;
  
  @include from-tablet {
    &:hover:not(.--disabled) {
      background: var(--ultramarine-light-1-color);
    }
  }

  &:active:not(.--disabled) {
    background: rgba(var(--text-contrast-filled-color), 0.2);
    transform: scale(0.95);
    
    svg {
      path {
        fill: var(--text-contrast-filled-color); 
      }
    }
  }
}

