.header {
  //@include text-caption ;
  font: 500 16px / 1.5 "Onest", sans-serif;
  color: var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-bg);
  
  max-width: 144rem;
  margin: 0 auto;
  padding: 3.2rem 4rem; 

  > a {
      display: block;
      

      img {
          display: block;
          height: 100%;
      }
  }

  &__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-shrink: 0;
      gap: 1.6rem; 
      list-style: none;

      &-item {
          position: relative;
          padding: 1.2rem; 
      }

      &-link {
          text-decoration: none;
          color: inherit;
      }
  }

  &__user-btn {
      display: block;
      height: 100%;

      @include tablet {
          display: none;
      }

      background-color: transparent;
      border: none;

      &-icon {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 0.8rem; 
          
          svg {
              width: 100%;
              height: 100%;
              border: 0.15rem solid var(--text-contrast-filled-color); 
          }
      }
  }

  &__menu-btn {
      display: none;
      border-radius: 12px;
      padding: 10px;
      border-color: transparent;
      background: #fff;

      @include tablet {
          display: block;
      }
  }

  @include mobile {
      width: 37.5rem; 
      height: 7.2rem;
      padding: 1.6rem 1.2rem; 
      left: 0;
      top: 0;

      > a {
             
          img {
            display: block;
            width: 9rem;
            height: 2.7rem;
        }
    }
      
      &__nav {
          display: none;
          position: fixed;
          top: 7.2rem; 
          left: 0;
          width: 100%;
          height: calc(100vh - 7.2rem); 
          flex-direction: column;
          padding: 2rem; 
          background-color: var(--card-color);

          &--active {
              display: flex;
          }
      }

      &__burger {
          display: block;
          width: 4rem; 
          height: 4rem; 
          
          span {
              display: block;
              width: 2rem;
              height: 0.2rem;
              margin: 0.4rem 0; 
              background-color: var(--text-color);
          }
      }
  }
}