.pagination {
  @include text-body;
  position: relative;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  &--large {
    gap: 1.2rem;
    .pagination__item {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__pages {
    display: flex;
    gap: inherit;
    align-items: center;
  }
  &__item {
    @include text-body-small-bold;
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1.6rem;
    transition: all 0.35s ease;
    outline: none;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: 1px solid transparent;
      background-color: transparent;
      transition: inherit;
           
    }
    &:hover:not(.--disabled) {
      color: var(--text-color);
      background-color: var(--gray-color-4);
      border-color: transparent;
    }

    &:active:not(.--disabled) {
      background-color: var(--gray-color-5);
      border-color: var(--gray-color-5);
    }

    &--active:not(.--disabled) {
      background-color: var(--gray-color-5);
      border-color: var(--gray-color-5);
    }




    &--disabled {
      color: var(--text-secondary-color);
      cursor: not-allowed;
      &::before {
        background-color: var(--gray-color-1);
        border-color: var(--gray-color-3);
        opacity: 0.6;
      }
    }

    @include mobile {
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 1.2rem;
      &:active:not(.--disabled) {
        transform: scale(0.9);
      }
    }

  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    transition: border-color 0.35s ease;
    &--disabled {
      border-color: var(--gray-color-4);
    }
    @include mobile {
      width: 2rem;
      height: 2rem;
    }
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: none;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: all 0.35s ease;
    @media (min-width: 1024px) {
      &:hover:not(.--disabled) {
        background: var(--gray-color-4);
        .pagination__icon {
          border-color: var(--text-secondary-promo-color);
        }
      }
    }
    &:active:not(.--disabled) {
      background: var(--gray-color-5);
      transform: scale(0.95);
      .pagination__icon {
        border-color: var(--text-color);
      }
    }
    &--prev {
      transform: rotate(180deg);
    }
    @include mobile {
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 1.2rem;
      &:active:not(.--disabled) {
        transform: scale(0.85);
      }
    }
  }


  &__dots {
    pointer-events: none;
    user-select: none;
  }

  &-divider {
    height: 1px;
    background: var(--divider-color);
    margin: 1.6rem 0;
    width: 100%;
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: var(--card-color);
    @include mobile {
      padding: 1rem;
      gap: 1rem;
    }
  }
}
