.accordion-container {
  position: relative;
  max-width: 3140px;
  margin: 6rem 3rem;
  background-color: var(--app-bg);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.accordion {
  position: relative;

  &__item {
    position: relative;
    border-radius: 3.2rem;
    background: var(--card-color);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__trigger {
    display: none;

    &:checked {
      ~ .accordion__header {
        .accordion__icon {
          .icon-plus {
            opacity: 0;
          }
          .icon-minus {
            opacity: 1;
          }
        }
        background: var(--ultramarine-default-color);
        color: var(--text-contrast-filled-color);
      }

      ~ .accordion__content {
        background-color: var(--ultramarine-default-color);
        max-height: 100rem;
        opacity: 1;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 3.2rem;
    cursor: pointer;
    background: var(--card-color);
    transition: all 0.3s ease;

    &:hover {
      .accordion__title {
        color: var(--ultramarine-default-color);
      }
      
      .accordion__trigger:checked ~ & {
        &:hover {
          background: var(--ultramarine-default-color);
          cursor: default;

          .accordion__title {
            color: var(--text-contrast-filled-color);
          }
        }
      }
    }
  }

  &__title {
    @include text-h4;
    flex-grow: 1;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      transition: 
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .icon-minus {
      opacity: 0;
      transform: scale(0.8);
    }
  
    .accordion__trigger:checked + .accordion__header & {
      .icon-plus {
        opacity: 0;
        transform: scale(0.8);
      }
      .icon-minus {
        opacity: 1;
        transform: scale(1);
      }
    }
  
    .accordion__trigger:active + .accordion__header & svg {
      transform: scale(0.92);
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.7);
  }

  &__body {
    @include text-body;
    padding: 0 3.2rem 2rem;
  }
}

// Адаптив для мобильных
@include mobile {
  .accordion {
    &__header {
      padding: 1.6rem 2.4rem;
    }

    &__icon {
      width: 3.2rem;
      height: 3.2rem;
    }

    &__body {
      padding: 0 1.6rem 2.4rem;
    }
  }
}
