mixin tag(props={})

  - const { dense = false, tag = 'div', color = '' } = props

  #{tag}.tag(class={ _dense: dense }, style=`${color && dense ? `color: ${color}` : ''}`)&attributes(attributes)
    .tag__inner
      block
