include ../components/tag.pug
include ../components/link.pug
include ../components/pagination.pug
include ../components/accordion.pug
include ../components/accordion-list.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Моя первая страница на Pug
    link(rel="stylesheet" href="css/main.css")
  
  body
    //- Подключаем миксин тегов
    //-include ../components/text-template.pug

    h1.text-h1 Тест шрифта
    p.text-body Проверка подключения

    //- Новая кнопка
    button.button.button--type-main.button--adaptive-mobile(disabled)
      span.button__icon.button__icon--visible
      | Click me

    //- Контейнер для тегов
    .tags-container
      +tag Tag
      +tag({ tag: 'a' })(href='#') Tag
      +tag({ dense: true }) Tag
      +tag({ dense: true, tag: 'a' })(href='#') Tag
      +tag({ dense: true, color: '#0EBEF1' }) Tag
      +tag({ dense: true, color: 'red' }) Tag
      include ../../assets/icons/link.svg
    //- Примеры использования ссылок
    div.links-section
      h2 Примеры ссылок
      div.links-container

        +link({ icon: 'link' })(href='#', data-attr, aria-label='link') Link
        +link({ href: '#', large: true, icon: 'link' }) Link

        +link({ href: '#' }) Link
        +link({ href: '#', large: true }) Link

        +link({ href: '#', bold: true, icon: 'socials' }) Link 

    //- Секция пагинации (добавляем здесь)
    section.pagination-container
      h2 Демонстрация пагинации
      
      //- Большая версия
      +pagination({
        currentPage: 3,
        totalPages: 5
      })

    //- Аккордеон
    section.accordion-container
      - 
        const faqData = {
          
          items: [
            {
              title: "Как зарегистрироваться на сайте?",
              body: "В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом."
            },
            {
              title: "Как зарегистрироваться на сайте?",
              body: "В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом."
            }
          ]
        }

      .accordion-header
        h1.accordion-title FAQ

      +accordion({ title: 'Тест' })  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
      +accordion-list
        +accordion({ title: 'Тест' })  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
        +accordion({ title: 'Тест' })  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
        +accordion({ title: 'Тест' })  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.

    //- Текст
    //- text-content.pug
    article.text-content
     
      p.text-body.
        Из теории Гераклита, даже если она применима лишь к чувственным объектам, 
        вытекает определение знания как восприятия и следует, что знание бывает о том, 
        что находится в становлении, а не о том, что есть.

      p.text-body
        | Из теории Гераклита, даже если она применима лишь к чувственным объектам, 
        | вытекает определение знания как восприятия и следует, 
        a(href="#").text-content__link что знание бывает
        |  о том, что находится в становлении, а не о том, что есть.

      ul.text-content__list
        li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
        li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
        li.text-content__list-item Но через несколько лет Сократ будет ниже Теэтета.
        li.text-content__list-item Из теории Гераклита, даже если она применима лишь к чувственным объектам, вытекает определение знания как восприятия и следует, что знание бывает о том, что находится в становлении, а не о том, что есть.
        li.text-content__list-item
          | В этом вопросе имеются некоторые затруднения совершенно элементарного характера
          ul.text-content__list--level-2 
            li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
            li.text-content__list-item Сократ теперь выше Теэтета, который является не вполне еще выросшим юношей;
            li.text-content__list-item Но через несколько лет Сократ будет ниже Теэтета.
        li.text-content__list-item Поэтому Сократ одновременно и высокого и низкого роста.

      ol.text-content__list--ordered
        li.text-content__list--ordered-item Знание есть восприятие;
        li.text-content__list--ordered-item Человек есть мера всех вещей;
        li.text-content__list--ordered-item Все находится в состоянии постоянного движения.

      figure.table
        .text-content__table-wrap
          table.text-content__table
            thead
              tr
                th Название мероприятия
                th Дата
                th Время
                th Организатор
            tbody
              tr
                td III Международный форум «Математические методы и модели в высокотехнологичном производстве»
                td 28 октября
                td 12:00 - 17:00
                td Центр развития профессиональных компетенций ГУАП
              tr
                td Игра «Квиз» для всех студентов Санкт-Петербурга
                td 28 октября
                td 12:00 - 17:00
                td Центр развития профессиональных компетенций ГУАП
              tr
                td 11-я международная научная конференция «Философия и культура информационного общества»
                td 28 октября
                td 12:00 - 17:00
                td Центр развития профессиональных компетенций ГУАП

      figure.text-content__image
       .text-content__image-container
        img(
          src="https://images.unsplash.com/photo-1741851374430-d242e0dcd70c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          alt="Описание изображения"
        )
        figcaption.text-caption Подписи выводятся шрифтом уменьшенного кегля. Точка в конце подписи не ставится

      h2.text-h2 Заголовок второго уровня
      h3.text-h3 Заголовок третьего уровня



    script(src="js/app.js")
