doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Моя первая страница на Pug
    link(rel="stylesheet" href="css/main.css")
  
  body
    //- Подключаем миксин тегов
    include ../components/tag.pug

    h1.text-h1 Тест шрифта
    p.text-body Проверка подключения

    //- Новая кнопка
    button.button.button--type-main.button--adaptive-mobile(disabled)
      span.button__icon.button__icon--visible
      | Click me

    //- Контейнер для тегов
    .tags-container
      +tag Tag
      +tag({ tag: 'a' })(href='#') Tag
      +tag({ dense: true }) Tag
      +tag({ dense: true, tag: 'a' })(href='#') Tag
      +tag({ dense: true, color: '#0EBEF1' }) Tag
      +tag({ dense: true, color: 'red' }) Tag
      include ../../assets/icons/link.svg

    script(src="js/app.js")
