doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Моя первая страница на Pug
    
    link(rel="stylesheet" href="css/main.css")
  body
    h1.text-h1 Тест шрифта
    p.text-body Проверка подключения

    script(src="js/app.js")

