extends ../layouts/base.pug

include ../components/tag.pug
include ../components/link.pug
include ../components/pagination.pug
include ../components/accordion.pug
include ../components/accordion-list.pug
include ../components/select.pug

block content
  h1.text-h1 Тест шрифта
  p.text-body Проверка подключения

  //- Новая кнопка
  button.button.button--type-main.button--adaptive-mobile
    | Button

  button.button.button--type-secondary.button--adaptive-mobile
    | Button

  button.button.button--type-secondary.button--adaptive-mobile(disabled)
    | Button  



  //- Контейнер для тегов
  .tags-container
    +tag Tag
    +tag({tag: 'a'})(href='#') Tag
    +tag({dense: true}) Tag
    +tag({dense: true, tag: 'a'})(href='#') Tag
    +tag({dense: true, color: '#0EBEF1'}) Tag
    +tag({dense: true, color: 'red'}) Tag
    include ../../assets/icons/link.svg
  //- Примеры использования ссылок
  div.links-section
    h2 Примеры ссылок
    div.links-container

      +link({icon: 'link'})(href='#', data-attr, aria-label='link') Link
      +link({href: '#', large: true, icon: 'link'}) Link

      +link({href: '#'}) Link
      +link({href: '#', large: true}) Link

      +link({href: '#', bold: true, icon: 'socials'}) Link

  //- Секция пагинации (добавляем здесь)
  section.pagination-container
    h2 Демонстрация пагинации

    //- Большая версия
    +pagination({
      currentPage: 3,
      totalPages: 5
    })

  //- Аккордеон
  section.accordion-container
    -
      const faqData = {

        items: [
          {
            title: "Как зарегистрироваться на сайте?",
            body: "В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом."
          },
          {
            title: "Как зарегистрироваться на сайте?",
            body: "В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом."
          }
        ]
      }

    .accordion-header
      h1.accordion-title FAQ

    +accordion({title: 'Тест'})  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
    +accordion-list
      +accordion({title: 'Тест'})  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
      +accordion({title: 'Тест'})  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
      +accordion({title: 'Тест'})  В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.

  section.pagination-container
    h2 Демонстрация селекта

    +custom-select(
      [
        {value: 'value1', label: 'Опция 1'},
        {value: 'value2', label: 'Опция 2'}
      ],
      'group1',
      false,
      'Выберите вариант',
      'Это дополнительная подсказка для выбора'
    )

    +custom-select(
      [
        {value: 'option1', label: 'Опция 1'},
        {value: 'option2', label: 'Опция 2'}
      ],
      'group2',
      true,
      'Выберите из списка',
      'Это дополнительная подсказка для выбора'
    )

    +custom-select(
      [
        {value: 'opt3', label: 'Опция 3'},
        {value: 'opt4', label: 'Опция 4'}
      ],
      'disabled-group',
      false,
      'Выберите из списка',
      'Этот выбор недоступен',
      true
    )

