extends ../layouts/base.pug

block content
  article.text-content

    p.text-body.
      Из теории Гераклита, даже если она применима лишь к чувственным объектам,
      вытекает определение знания как восприятия и следует, что знание бывает о том,
      что находится в становлении, а не о том, что есть.

    p.text-body
      | Из теории Гераклита, даже если она применима лишь к чувственным объектам,
      | вытекает определение знания как восприятия и следует,
      a(href="#").text-content__link что знание бывает
      |  о том, что находится в становлении, а не о том, что есть.

    ul.text-content__list
      li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
      li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
      li.text-content__list-item Но через несколько лет Сократ будет ниже Теэтета.
      li.text-content__list-item Из теории Гераклита, даже если она применима лишь к чувственным объектам, вытекает определение знания как восприятия и следует, что знание бывает о том, что находится в становлении, а не о том, что есть.
      li.text-content__list-item
        | В этом вопросе имеются некоторые затруднения совершенно элементарного характера
        ul.text-content__list--level-2
          li.text-content__list-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
          li.text-content__list-item Сократ теперь выше Теэтета, который является не вполне еще выросшим юношей;
          li.text-content__list-item Но через несколько лет Сократ будет ниже Теэтета.
      li.text-content__list-item Поэтому Сократ одновременно и высокого и низкого роста.

    ol.text-content__list--ordered
      li.text-content__list--ordered-item Знание есть восприятие;
      li.text-content__list--ordered-item Человек есть мера всех вещей;
      li.text-content__list--ordered-item Все находится в состоянии постоянного движения.

    figure.table
      .text-content__table-wrap
        table.text-content__table
          thead
            tr
              th Название мероприятия
              th Дата
              th Время
              th Организатор
          tbody
            tr
              td III Международный форум «Математические методы и модели в высокотехнологичном производстве»
              td 28 октября
              td 12:00 - 17:00
              td Центр развития профессиональных компетенций ГУАП
            tr
              td Игра «Квиз» для всех студентов Санкт-Петербурга
              td 28 октября
              td 12:00 - 17:00
              td Центр развития профессиональных компетенций ГУАП
            tr
              td 11-я международная научная конференция «Философия и культура информационного общества»
              td 28 октября
              td 12:00 - 17:00
              td Центр развития профессиональных компетенций ГУАП

    figure.text-content__image
      .text-content__image-container
        img(
          src="https://images.unsplash.com/photo-1741851374430-d242e0dcd70c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          alt="Описание изображения"
        )
        figcaption.text-caption Подписи выводятся шрифтом уменьшенного кегля. Точка в конце подписи не ставится

    h2.text-h2 Заголовок второго уровня
    h3.text-h3 Заголовок третьего уровня