.graduate-card {
  font-family: var(--main-font);
  border-radius: 4rem;
  position: relative;
  min-height: 61.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.6rem;

  overflow: hidden;

  height: 100%;
  width: 100%;
  background: var(--card-color);

  &:hover {
    .graduate-card__bio {
      max-height: 160px;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    background: #fff;
    border-radius: 2.4rem;
    padding: 2rem;
    text-align: center;
    font: 700 2.2rem / 1.36364 "Onest", sans-serif;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;

    // Общий контейнер для имени и био
    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__headline {
    font: 700 22px / 1.36364 "Onest", sans-serif;
    color: #1f2733;
    margin: 0;
  }

  &__bio {
    color: #636e72;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
    will-change: max-height;

    > * {
      &:first-child {
        padding-top: 2rem;
      }
    }
  }
}
