footer 
    .footer 
        nav
            ul.footer__nav
                li.footer__nav-item
                    a(href="#")
                        img(src="svg/logotype_GoUp.svg" alt="Логотип")
                li.footer__nav-item
                    a.footer__nav-link(href="#") Контакты
                li.footer__nav-item
                    a.footer__nav-link(href="#") Основной сайт

        ul.footer__contacts 
            li.footer__contacts-item
                a.footer__contacts-link(href="#") company
            li.footer__contacts-item
                a.footer__contacts-link(href="#") company
            li.footer__contacts-item
                a.footer__contacts-link(href="mailto:company@gmail.com") company@gmail.com
        .footer__social
            a(href="#") vk
            a(href="#") tg      
    .footer-copyright 
        p © 2023 Онлайн-площадка
        a(href="#")
            img(src="svg/parawe-logo-xs.svg" alt="Логотип Paraweb")
