include ../components/dropdown.pug

header.header
    a(href="#")
        img(src="svg/logotype_GoUp.svg" alt="Логотип")
    nav
        ul.header__nav
            +dropdown({ text: 'О платформе' })
                -
                    var items = [
                        {text: 'Университет', href: '#'},
                        {text: 'Точка кипения', href: '#'}
                    ]
                ul.menu-list#dropdown-menu(aria-hidden="true")
                    each item in items
                        li.menu-list__item
                            a.menu-list__item-link(href=item.href)= item.text
            li.header__nav-item
                a(href="#").header__nav-link Мероприятия
            li.header__nav-item
                a(href="#").header__nav-link Новости
            li.header__nav-item
                a(href="#").header__nav-link Образовательные материалы
            li.header__nav-item
                a(href="#").header__nav-link Вопросы
            li.header__nav-item
                a(href="#").header__nav-link Контакты
    .header__controls
        a(href='#').header__user-btn
            span.header__user-btn-icon
                include ../../assets/icons/user.svg
        button.header__menu-btn
            svg(width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M1.33325 1H14.6666M1.33325 6H14.6666M1.33325 11H14.6666" stroke="#1F2733" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")