.tag {
  @include text-button;

  display: block;
  position: relative;
  height: 100%;

  &._dense {
    @include text-body-small-bold;

    color: var(--text-secondary-color);

    &::before {
      border-radius: 0.8rem;
      background-color: currentColor;
      opacity: 0.15;
    }
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1.6rem;
    content: '';
    background-color: var(--card-color);
  }

  &__inner {
    position: relative;
    padding: 0.8rem 1.2rem;
    transition: opacity 0.35s ease;
    z-index: 1;

    @include mobile {
      padding: 0.6rem 1.2rem;
    }

    ._dense & {
      padding: 0.6rem 1.2rem;

      @include mobile {
        padding: 0.4rem 0.8rem;
      }
    }
  }
}

a.tag,
button.tag {
  &:not(._dense) {
    &:hover {
      .tag__inner {
        opacity: 0.5;
      }
    }
  }

  &._dense {
    &::before {
      transition: opacity 0.35s ease;
    }

    &:hover {
      &::before {
        opacity: 0.25;
      }
    }
  }
}

// TODO вынести отдельно
.tag-divider {
  height: 1px;
  background: var(--border-color);
  margin: 1.6rem 0;
  width: 100%;
}

// TODO вынести отдельно
.tags-container {
  display: flex;
  gap: 1.2rem;
  padding: 2rem;
  background: var(--gray-color-2);
  flex-wrap: wrap;

  @include mobile {
    padding: 1rem;
    gap: 0.8rem;
  }
}
