@import "./global/colors.scss";
@import "./global/breakpoints.scss";
@import "./global/typography.scss";

.tag {
  // Базовые стили
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-out;
  font-family: var(--main-font);

  // Адаптивные модификаторы
  &--adaptive {
    &-desktop {
      padding: 8px 12px;
      border-radius: 16px;
      @include text-body-bold;

      @include mobile {
        padding: 6px 10px;
        border-radius: 12px;
        @include text-body-small-bold;
      }
    }

    &-mobile {
      padding: 6px 12px;
      border-radius: 8px;
      @include text-body-small-bold;
    }
  }

  // Состояния
  &--state {
    &-default {
      background: var(--gray-color-3);

      &:hover {
        background: var(--gray-color-2);
        cursor: pointer;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    &-pressed {
      transform: scale(0.98);
      background: var(--gray-color-3);
    }
  }

  // Типы контента
  &--type {
    &-educational-materials {
      background: var(--card-color);
      color: var(--text-color);
    }

    &-event {
      background: var(--gray-color-3);
      color: var(--text-secondary-color);
    }
  }

  // Цветовые модификаторы
  &--color {
    &-cyan {
      background: var(--cyan-light-2-color);
      color: var(--cyan-default-color);
    }
    &-purple {
      background: var(--purple-light-color);
      color: var(--purple-default-color);
    }
    &-green {
      background: var(--electric-green-light-2-color);
      color: var(--electric-green-default-color);
    }
    &-red {
      background: var(--susi-red-light-2-color);
      color: var(--susi-red-default-color);
    }
    &-blue {
      background: var(--susi-blue-light-color);
      color: var(--susi-blue-default-color);
    }
  }

  // Элементы тега
  &__text {
    white-space: nowrap;

    &--secondary {
      color: var(--text-secondary-color);
    }
  }

  // Специальные модификаторы
  &--section-header {
    @include text-h3;
    background: var(--ultramarine-default-color);
    color: var(--text-contrast-filled-color);
    padding: 2rem;
    width: 100%;
  }

  &--dashed-border {
    border: 1px dashed var(--border-color);
    border-radius: 5px;
  }
}

// Вспомогательные элементы
.tag-divider {
  height: 1px;
  background: var(--border-color);
  margin: 1.6rem 0;
  width: 100%;
}

.tags-container {
  display: flex;
  gap: 1.2rem;
  padding: 2rem;
  background: var(--gray-color-2);
  flex-wrap: wrap;

  @include mobile {
    padding: 1rem;
    gap: 0.8rem;
  }
}
